@model ScoreToGo.ViewModels.GameModel

@{
    ViewBag.Title = "New Game";
}

<h2>Game</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>New Game</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartedAt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartedAt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartedAt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Teams, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.Teams.Any())
                {
                    foreach (var team in Model.Teams)
                    {
                        //  @Html.Partial("CreateTeam", new ScoreToGo.ViewModels.TeamModel())
                    }
                }
                else
                {
                    <span class="col-md-10">
                        @Html.DropDownListFor(m => m.Teams[0], Model.AvailableTeamList)
                    </span>
                    <span class="col-md-10">
                        @Html.DropDownListFor(m => m.Teams[1], Model.AvailableTeamList)
                    </span>
                }

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}